/* src/styles/global.css */

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

@import "tailwindcss";

/* Custom Scrollbar Styles */
/* For WebKit browsers (Chrome, Safari, Edge, Opera) */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Darker background for the track (matching gray-800) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Color of the scrollbar thumb (slightly lighter gray) */
  border-radius: 10px;
  border: 2px solid #2d3748; /* Border around the thumb, matching track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #636b77; /* Color when hovering over the thumb */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #4a5568 #2d3748; /* thumb color track color */
}
